@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Lobster);

/*==========BASE CSS WITH BASIC RESET==========*/

/*RESET*/

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*BASIC STYLES*/

body {
    background: #ecf0f1;
    font: 14px/21px'Lato', sans-serif;
    color: #7f8c8d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*TYPOGRAPHY*/

 h1, h2, h3, h4, h5, h6 {
    color: #7f8c8d;
    font-family:'Lato', sans-serif;
    font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-wcol-7: inherit;
}
h1 {
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 14px;
}
h2 {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 10px;
}
h3 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 8px;
}
h4 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 4px;
}
h5 {
    font-size: 17px;
    line-height: 24px;
}
h6 {
    font-size: 14px;
    line-height: 21px;
}
.subheader {
    color: #777;
}
p {
    margin: 0 0 20px 0;
}
p img {
    margin: 0;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
    color: #7f8c8d;
}
small {
    font-size: 80%;
}
hr.carved {
  clear: both; 
  float: none; 
  width: 100%; 
  height: 2px;
  margin: 1.4em 0;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(221,221,221)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 50%,
      rgb(255,255,255) 50%
  );
}

/*Blockquotes*/

 blockquote, blockquote p {
    font-size: 17px;
    line-hcol-7: 24px;
    color: #777;
    font-style: italic;
}
blockquote {
    margin: 0 0 20px;
    padding: 9px 20px 0 19px;
    border-left: 1px solid #ddd;
}
blockquote cite {
    display: block;
    font-size: 12px;
    color: #555;
}
blockquote cite:before {
    concol-10t:"\2014 \0020";
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
    color: #555;
}
hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    hcol-7: 0;
}

/*Links*/

 a, a:visited {
    color: #333;
    text-decoration: none;
    outline: 0;
}
a:hover, a:focus {
    color: #000;
}
p a, p a:visited {
    line-height: inherit;
}

/*Lists*/

 ul, ol {
    margin-bottom: 20px;
}
ul {
    list-style: none outside;
}
ol {
    list-style: decimal;
}
ol, ul.square, ul.circle, ul.disc {
    margin-left: 30px;
}
ul.square {
    list-style: square outside;
}
ul.circle {
    list-style: circle outside;
}
ul.disc {
    list-style: disc outside;
}
ul ul, ul ol, ol ol, ol ul {
    margin: 4px 0 5px 30px;
    font-size: 90%;
}
ul ul li, ul ol li, ol ol li, ol ul li {
    margin-bottom: 6px;
}
li {
    line-height: 18px;
    margin-bottom: 12px;
}
ul.large li {
    line-height: 21px;
}
li p {
    line-height: 21px;
}

/*Buttons*/

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover, .btn:focus {
    text-decoration: none;
}
.btn:active {
    position:relative;
    top:1px;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
}

/*Button sizes*/

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.btn-md {
    padding: 7px 14px;
    font-size: 16px;
    line-height: 1.33;
    border-radius: 5px;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

/*Buttons colors*/

.btn-default {
    background-color:#ffffff;
    color:#666666;
    border-color:#dcdcdc;
}
.btn-default:hover {
    background-color:#f6f6f6;
}
.btn-primary {
    background-color:#3498db;
    color:#ffffff;
    border-color:#2980b9;
}
.btn-primary:hover {
    background-color:#2573A6;
    border-color:#216895;
}
.btn-success {
    background-color:#2ecc71;
    color:#ffffff;
    border-color:#27ae60;
}
.btn-success:hover {
    background-color:#27ae60;
    border-color:#239D56 
}
.btn-warning {
    background-color:#f1c40f;
    color:#ffffff;
    border-color:#f39c12;
}
.btn-warning:hover {
    background-color:#f39c12;
    border-color:#DB8C10; 
}
.btn-error {
    background-color:#e74c3c;
    color:#ffffff;
    border-color:#c0392b;
}
.btn-error:hover {
    background-color:#f24437;
    border-color:#AD3327; 
}


/*
* If you want to auto margin your button please use following classes:
* .btn-block, .auto-margin
* You can use inline style (width) or the following classes
*/

.btn-250 {
    width: 250px;
}
.btn-200 {
    width: 200px;
}
.btn-150 {
    width: 150px;
}
.btn-125 {
    width: 125px;
}
.btn-100 {
    width: 100px;
}

/*Forms*/
form {
    margin-bottom: 20px; }
fieldset {
    margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 6px 12px;
    font-size: 14px;
    color: #777;
    font-family:'Lato', sans-serif;
    line-height: 21px;
    outline: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px; 
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2); 
}
textarea {
    min-height: 60px; 
}
label,
legend {
    display: block;
    font-weight: bold;
    font-size: 13px;  
}
input[type="checkbox"] {
    display: inline; 
}
label span,
legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444; 
}

/*HELPERS*/

/*Margins*/
.remove-bottom {
    margin-bottom: 0 !important;
}
.half-top {
	margin-top: 10px !important;	
}
.add-top {
	margin-top: 20px !important;
}
.half-bottom {
    margin-bottom: 10px !important;
}
.add-bottom {
    margin-bottom: 20px !important;
}
.add-right {
    margin-right:10px;
}
.add-left {
    margin-left:10px;
}
.auto-margin {
	margin:0 auto;
}
/*Floating and display*/ 
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.inline-block {
    display: inline-block;
}
.block {
    display: block;
}
.table {
    display: table;
}
/*Text formating*/
.lead {
	font-size: 32px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 10px;
}
.lead > span {
    font-size: 25px;
    font-weight: 300;
    color: #95a5a6;
    line-height: 25px;
    margin-bottom: 5px;
}
.lead-sub {
    font-size: 32px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
}
.lead-sub > span {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 10px;
}
.title {
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 10px;
}
.title > span {
    font-size: 14px;
    font-weight: 300;
    color: #95a5a6;
    text-transform: none;
    line-height: 21px;
}
.ad {
	font-size: 42px;
	font-weight: 700;
	line-height: 42px;
	margin-bottom: 10px;
}
.ad > span {
	font-size: 25px;
	font-weight: 300;
    color: #95a5a6;
	line-height: 25px;
	margin-bottom: 10px;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}

/*Images */

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}
.img-circle {
	border-radius: 50%;
}
.img-rounded {
	border-radius: 4px;
}


